@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', monospace !important;
	color: #707070;
	font-size: 14px;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

/* index.js */
h1.slogan {
	font-weight: 700;
	margin: 60px auto 40px auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat Subrayada';
	line-height: 40px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #2575f4, #33cc99);
	background-image: -webkit-linear-gradient(left, #2575f4, #33cc99);
}
.home-row {
	padding: 0 60px;
}
div.banner-div {
	width: 100vw;
	height: calc(0.75 * 100vw);
	text-align: center;
	margin: 0 0 8% 0;
}
.banner-img {
	width: 100%;
	height: 100%;
}
.join-btn {
	z-index: 99;
	position: absolute !important;
	color: #707070 !important;
}
.join-btn:hover {
	color: #1890ff !important;
}
@media (min-width: 735px) {
	.join-btn {
		top: calc(0.63 * 100vw);
		font-size: 32px !important;
		line-height: 40px !important;
		height: 50px !important;
		border-radius: 32px !important;
		left: calc(50vw - 83px);
	}
}
@media (max-width: 735px) and (min-width: 500px) {
	.join-btn {
		top: calc(0.68 * 100vw);
		font-size: 22px !important;
		line-height: 30px !important;
		height: 40px !important;
		border-radius: 22px !important;
		left: calc(50vw - 63px);
	}
}
@media (max-width: 500px) and (min-width: 450px) {
	.join-btn {
		top: calc(0.7 * 100vw);
		font-size: 16px !important;
		line-height: 24px !important;
		height: 32px !important;
		border-radius: 16px !important;
		left: calc(50vw - 50px);
	}
}
@media (max-width: 450px) {
	.join-btn {
		top: calc(0.72 * 100vw);
		font-size: 14px !important;
		line-height: 16px !important;
		height: 26px !important;
		border-radius: 14px !important;
		left: calc(50vw - 50px);
	}
}
.large-col > .home-cards {
	width: 60%;
	float: right;
	padding-right: 8%;
	margin-bottom: 10%;
}
.large-text {
	padding-right: 10%;
	margin-bottom: 10%;
}
.large-col-even > .home-cards {
	width: 60%;
	float: left;
	padding-left: 8%;
	margin-bottom: 10%;
}
.large-text-even {
	padding-left: 10.5%;
	float: right;
	margin-bottom: 10%;
}
.home-row-small {
	padding: 0 12%;
}
.home-ant-card .ant-image-img {
	opacity: 0.7;
}
.home-ant-card .home-cards {
	margin: 0 auto 5% auto;
}
.small-text h3 {
	text-align: center;
}
.small-text {
	margin: 0 auto 10% auto;
}

/* pageHeader.js */
.page-header {
	width: 100%;
	background-color: #fff;
	height: 65px;
	display: block;
	padding: 0;
	overflow: hidden;
}
.nav-logo {
	margin-left: 10px;
}
.ant-affix {
	top: 0 !important;
	background-color: #fff;
	z-index: 100 !important;
	/* box-shadow: 0 2px 0.02px rgba(0, 0, 0, 0.1); */
}
.menu-icon {
	font-size: 24px;
	padding: 0 0 0 10px;
	margin: 0;
	vertical-align: 0 !important;
}
h1.company {
	font-size: 40px;
	display: inline-block;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #2575f4, #33cc99);
	background-image: -webkit-linear-gradient(left, #2575f4, #33cc99);
	font-family: "Lobster", cursive;
	margin: 0 0 0 5px;
}
a.link {
	color: #000;
	text-decoration: underline;
	margin: 1.5em 1em 0 0;
	float: right;
}
div.placeholder {
	display: none;
}
div.nav-gutter {
	display: inline-block;
	margin: 0 10px;
}
a.nav-link {
	color: #707070;
	font-weight: bold;
	text-decoration: underline;
}
@media (min-width: 1000px) {
	a.nav-link {
		font-size: 18px;
	}
}
.nav-icon {
	font-size: 30px !important;
	position: absolute;
	top: -25px;
	left: 10px;
	opacity: 0;
}
.hover-div {
	position: relative;
	padding: 0 10px;
}
.hover-div:hover > .nav-link {
	opacity: 0;
}
.hover-div:hover > .nav-icon {
	opacity: 1;
	z-index: 99;
}
.ant-image-mask {
	border-radius: 2px;
}
.ant-image-mask-info {
	display: none;
}
.large-parent:nth-child(1) .ant-image-mask::after {
	content: "Food";
}
.large-parent:nth-child(4) .ant-image-mask::after {
	content: "Investment";
}
.large-parent:nth-child(5) .ant-image-mask::after {
	content: "Career";
}
.large-parent:nth-child(8) .ant-image-mask::after {
	content: "Outdoor";
}
.large-parent:nth-child(9) .ant-image-mask::after {
	content: "Photography";
}
.large-parent:nth-child(12) .ant-image-mask::after {
	content: "Talent Show";
}

/* headMenu.js */
div.head-menu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-radius: 0 20px 20px 0;
	border-color: transparent;
	box-shadow: 2px 2px 0.02px rgba(0, 0, 0, 0.1);
	z-index: 99;
	position: relative;
	max-width: 70vw;
	min-height: 50vh;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
div.menu-top {
	margin: 10px;
	grid-area: 1 / 1 / 2 / 2;
}
.ant-pagination.ant-table-pagination.ant-table-pagination-right {
	display: none;
}
.menu-table thead.ant-table-thead {
	display: none;
}
.menu-table td.ant-table-cell:nth-child(odd) {
	text-align: end;
}
.menu-table td.ant-table-cell:nth-child(even) {
	font-size: 20px;
	font-weight: semibold;
	text-decoration: underline;
	color: #707070;
	padding-bottom: 2px;
}
.menu-table a {
	color: #707070;
	font-weight: semibold;
}
.menu-table .ant-table-tbody > tr > td {
	border: none;
}
div.menu-bottom {
	float: left;
	margin: 20px 0 20px 20px;
	grid-area: 2 / 1 / 3 / 2;
}
a.menu-bottom-link {
	display: block;
	color: #707070;
	padding: 0 0 10px 5px;
}
.custom-icon {
	display: inline-block;
	background-color: #fff;
	font-size: 50px;
	padding: 5px 5px 0 0;
}
/* #huwai {
	font-size: 44px;
	padding-left: 12px;
} */

/* homeCarousel.js */
@media (min-width: 1200px) {
	h3.carousel-text {
		height: calc(45vw * .5);
		width: 45%;
	}
	img.carousel-img {
		height: calc(45vw * .5);
		width: 100%;
	}
}
@media (min-width: 700px) and (max-width: 1200px) {
	h3.carousel-text {
		height: calc(60vw * .5);
		width: 60%;
	}
	img.carousel-img {
		height: calc(60vw * .5);
		width: 100%;
	}
}
@media (max-width: 700px) {
	h3.carousel-text,
	img.carousel-img {
		height: calc(100vw * .5);
		width: 100%;
	}
}
h3.carousel-text {
	color: #fff;
	line-height: 180px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	margin: 0 auto;
}
@media (min-width: 800px) {
	div.ant-carousel {
		margin: 0 5px 10% 5px;
	}
}
@media (max-width: 800px) {
	div.ant-carousel {
		margin: 2% 2% 12% 2%;
	}
}
div.ant-carousel {
	background-color: rgba(255, 255, 255, 0);

	border-radius: 5px;
	/* box-shadow: 1px 1px 0.02px rgba(0, 0, 0, 0.1); */
}
img.carousel-img {
	border-radius: 5px;
}

/* homeArea.js */
div.home-cards {
	margin: 0 5px;
}
h3.card-title > a {
	color: #707070 !important;
	text-decoration: underline;
	font-weight: bold;
}

/* signup/index.js */
form#register {
	width: 80%;
	margin: 20px auto;
}
div.ant-modal-footer > button.ant-btn {
	display: none;
}
span.ant-modal-close-x {
	display: none;
}
.ant-modal-footer {
	display: none;
}
.term-btn {
	border: none !important;
	padding: 0 !important;
}
.term-btn > span {
	text-decoration: underline;
	color: #1890ff;
}

/* areaIntro.js */
div.intro-div {
	height: 60px;
	width: 100%;
	text-align: center;
	justify-content: center;
	background-color: #fff;
}
h1.intro-title {
	color: #707070;
	font-weight: semibold;
	font-size: 24px;
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0;
}

/* postList.js */
.ReactVirtualized__Grid__innerScrollContainer {
	height: auto !important;
	max-height: auto !important;
}

/* posts/1.js */
div.post-content {
	/* div.ant-card.ant-card-bordered:nth-child(2) {
		margin: 10px auto 10px auto;
	} */
}
.ant-card-meta-title {
	white-space: normal !important;
	overflow: visible !important;
}
.ant-list-split .ant-list-header {
	margin: 0 5px;
}

/* login/index.js */
.ant-form.ant-form-horizontal.login-form {
	width: 80%;
	margin: 20px auto;
}
.login-form-forgot {
	float: right;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
	width: 100%;
}

/* homeCard.js */
.home-card {
	width: 100%;
}
.ant-card-body {
	display: none;
}
.ant-image {
	display: block !important;
}

/* pageFooter.js */
div.footer-div {
	text-align: center;
	background: linear-gradient(-60deg, #33cc99, #2575f4);
}
.footer-logo {
	font-size: 60px;
	margin-bottom: 5%;
}
.footer-social {
	width: 300px;
	text-align: center;
	margin: 0 auto !important;
}
.social-link,
.social-link:hover {
	color: #fff;
}
.footer-wechat {
	font-size: 40px;
	vertical-align: -0.75em;
}
.footer-red {
	font-size: 50px;
}
.footer-insta {
	font-size: 40px;
	color: #fff;
}
.footer-follow {
	color: #fff;
	font-weight: bold;
	margin: 0 auto 4% auto;
	text-decoration: underline;
}
p.footer-text {
	color: #fff;
	margin: 0 auto 6% auto;
}
@media (max-width: 700px) {
	p.footer-text {
		font-size: 10px !important;
	}
	div.footer-div {
		padding: 8% 2%;
	}
}
@media (min-width: 700px) {
	div.footer-div {
		padding: 10%;
	}
}

/* posting/index.js */
.post-page {
	margin: 20px !important;
	height: calc(100vh - 100px);
}
div.post-btn {
	text-align: center;
	margin: 10px auto 20px auto !important;
}
.post-action {
	width: 45%;
	margin: 0 auto 20px auto !important;
	text-align: center;
}
.post-action > button {
	border-radius: 2px !important;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
	box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
	font-weight: 400 !important;
	white-space: nowrap;
	height: 32px;
	padding: 4px 15px !important;
	font-size: 14px !important;
}
.post-action:nth-child(1) > button {
	background-color: #1890ff !important;
	color: #fff;
	border: 1px solid #1890ff;
}
.post-action:nth-child(2) > button {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	color: rgba(0, 0, 0, .7);
}
.input-body {
	height: 40%;
	margin-bottom: 50px !important;
}
.input-body > textarea {
	height: 100% !important;
}
.ui,
.ui.form input[type=text],
.ui.form input[type=file],
.ui.form textarea,
.ui.button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif !important;
}
.ui.form .field .ui.pointing.above.prompt.label {
	border: none !important;
	color: #ff4d4f !important;
}
.ui.form .field.error .ui.dropdown,
.ui.form .field.error input[type=text],
.ui.form .field.error textarea {
	color: #ff4d4f !important;
	border-color: #ff4d4f !important;
	background-color: #fff !important;
}
.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
	display: none;
}
.image-upload {
	max-width: 100%;
}
.input-image {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
input#upload-img {
	display: none;
}
div.image-preview {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
	justify-content: flex-start;
	flex-direction: row;
}
div.image-each {
	display: flex;
	align-items: flex-start;
	margin: 0 5px 2px 0;
}
img.image-thumbnail {
	height: 80px;
	width: 80px;
	object-fit: cover;
	border: 1px solid #d9d9d9;
}
.hover-delete {
	/* position: absolute;
	left: 62px; */
	z-index: 99;
	color: #fff;
	font-size: 14px;
	padding: 1px 3px;
	background-color: rgba(255, 0, 0, 0.5);
}

/* database */
@media (min-width: 1000px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 60%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 70%;
	}
}
@media (min-width: 600px) and (max-width: 1000px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 80%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 80%;
	}
}
@media (max-width: 600px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 100%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 90%;
	}
}
