@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
	font-family: "Futura";
	src: url('/Futura-Condensed-Extra-Bold.otf');
	font-display: swap;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #000;
	font-size: 14px;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

/* index.js */
h1.slogan {
	font-weight: 700;
	margin: 60px auto 40px auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat Subrayada';
	line-height: 40px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #2575f4, #33cc99);
	background-image: -webkit-linear-gradient(left, #2575f4, #33cc99);
}
.home-row {
	padding: 0 60px;
}
div.banner-div {
	height: 500px;
	text-align: center;
	margin: 0 0 3% 0;
	background-image: url('https://kikijinqili.github.io/assets/gradient-banner.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.banner-img {
	width: 100%;
	height: 100%;
}
.join-btn {
	background: #000 !important;
	z-index: 99;
	position: absolute !important;
	color: #fff !important;
	border: none !important;
	top: 330px;
	font-size: 30px !important;
	line-height: 40px !important;
	height: 50px !important;
	border-radius: 30px !important;
	left: calc(50vw - 66.8px);
	padding: 0 10px;
}
.join-btn:hover {
	box-shadow: 2px 2px .1em #707070 !important;
	background: #fff !important;
	color: #000 !important;
}
.join-btn span {
	font-family: "Futura";
}
.large-row {
	width: 80vw;
	margin: 0 auto;
}
.large-col > .home-cards {
	margin-bottom: 2%;
	padding: 0 2%;
}
.large-text {
	padding: 0 2%;
	margin-bottom: 2%;
	white-space: pre-wrap;
	max-width: 30vw;
}
.small-text > a,
.large-text > a {
	color: rgba(0, 0, 0, 0.85);
}
.small-text > a:hover h3,
.large-text > a:hover h3{
	color: #1890ff;
}
.home-row-small {
	padding: 0 12%;
}
.home-ant-card .ant-image-img {
	/* opacity: 0.7; */
}
.home-ant-card .home-cards {
	margin: 0 auto 5% auto;
}
.small-text h3 {
	text-align: center;
}
.small-text {
	margin: 0 auto 10% auto;
}
.area-title {
	font-family: "Futura";
	font-size: 1.8rem;
}
h2.area-title {
	font-size: 2.2rem;
}
span.hashtag {
	color: #fff;
	border: 1px solid transparent;
	border-radius: 16px;
	padding: .2em 1em .4em 1em;
	font-size: 16px;
	text-decoration: none;
	margin-right: 1em;
	margin-bottom: 1em;
	font-style: italic;
	font-weight: 600;
	display: inline-block;
}
span.hashtag:nth-child(odd) {
	background-color: #2575f4;
}
span.hashtag:nth-child(even) {
	background-color: #33cc99;
}
@media (max-width: 500px) {
	.home-row-small {
		padding: 0 2% !important;
	}
	.update-module {
		margin: 0 2% 10% 2%;
	}
}
@media (min-width: 500px) and (max-width: 800px) {
	.update-module {
		margin: 0 10% 10% 10%;
	}
}
@media (min-width: 800px) {
	.update-module {
		margin: 2% 10% 4% 10%;
	}
}
.update-module {
	text-align: center;
}

/* pageHeader.js */
.page-header {
	width: 100%;
	background-color: #fff;
	height: 65px;
	display: block;
	padding: 0;
	overflow: hidden;
}
.nav-logo {
	margin: 10px 0 0 10px;
}
.nav-logo img {
	padding-top: 10px !important;
}
.ant-affix {
	top: 0 !important;
	background-color: #fff;
	z-index: 100 !important;
	/* box-shadow: 0 2px 0.02px rgba(0, 0, 0, 0.1); */
}
.menu-icon {
	font-size: 30px;
	padding: 0 0 0 10px;
	margin: 0;
	vertical-align: 0 !important;
}
h1.company {
	font-size: 40px;
	display: inline-block;
	opacity: 0;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #2575f4, #33cc99);
	background-image: -webkit-linear-gradient(left, #2575f4, #33cc99);
	font-family: "Lobster", cursive;
	margin: 0;
}
a.link {
	color: #000;
	text-decoration: underline;
	margin: 1.5em 1em 0 0;
	float: right;
	font-size: 1.2rem;
}
div.placeholder {
	display: none;
}
div.nav-gutter {
	display: inline-block;
	margin: 0;
}
.nav-link {
	color: #000;
	font-weight: 500;
	border: 1px solid rgba(0,0,0,.85);
	border-radius: 16px;
	padding: 5px;
	font-size: 16px;
	text-decoration: none;
}
.nav-icon {
	text-align: center;
	font-size: 40px !important;
	/* position: absolute;
	top: -45px;
	left: 10px; */
	opacity: 0.5;
	padding-left: 2px;
}
.hover-div {
	position: relative;
	padding: 0 5px;
	text-align: center;
}
.hover-div:hover > .nav-link {
	color: #707070;
}
.hover-div:hover > .nav-icon {
	opacity: 1;
	z-index: 99;
}
.ant-image-mask {
	border-radius: 2px;
	display: none !important;
}
.ant-image-mask-info {
	display: none;
}
/* .large-parent:nth-child(1) .ant-image-mask::after {
	content: "Food";
}
.large-parent:nth-child(4) .ant-image-mask::after {
	content: "Investment";
}
.large-parent:nth-child(5) .ant-image-mask::after {
	content: "Career";
}
.large-parent:nth-child(8) .ant-image-mask::after {
	content: "Outdoor";
}
.large-parent:nth-child(9) .ant-image-mask::after {
	content: "Photography";
}
.large-parent:nth-child(12) .ant-image-mask::after {
	content: "Talent Show";
} */

/* headMenu.js */
div.head-menu {
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; */
	/* start */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* end */
	border-radius: 0 20px 20px 0;
	border-color: transparent;
	box-shadow: 2px 2px 0.02px rgba(0, 0, 0, 0.1);
	z-index: 99;
	position: relative;
	max-width: 70vw;
	min-height: 50vh;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
div.menu-top {
	margin: 10px;
	grid-area: 1 / 1 / 2 / 2;
}
.ant-pagination.ant-table-pagination.ant-table-pagination-right {
	display: none;
}
.menu-table thead.ant-table-thead {
	display: none;
}
.menu-table td.ant-table-cell:nth-child(odd) {
	text-align: end;
}
.menu-table td.ant-table-cell:nth-child(even) {
	font-size: 20px;
	font-weight: semibold;
	text-decoration: none;
	color: #707070;
	padding-bottom: 2px;
}
/* .menu-table a {
	color: #707070;
	font-weight: semibold;
} */
.menu-table .ant-table-tbody > tr > td {
	border: none;
}
div.menu-bottom {
	float: left;
	margin: 20px 0 20px 20px;
	grid-area: 2 / 1 / 3 / 2;
}
a.menu-bottom-link {
	display: block;
	color: #707070;
	padding: 0 0 10px 5px;
}
.custom-icon {
	display: inline-block;
	background-color: #fff;
	font-size: 50px;
	padding: 5px 5px 0 0;
}
/* #huwai {
	font-size: 44px;
	padding-left: 12px;
} */

/* homeCarousel.js */
.slider-div {
	margin: 0 0 5% 0;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: relative;
    width: 100%;
    height: 500px;
}
.cb-slideshow:after { 
    content: '';
    background: transparent repeat top left; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(/banner1.gif) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(/banner2.gif);
    animation-delay: 5s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(/banner3.gif);
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(2) div { 
    animation-delay: 5s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 10s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in;  }
    8% { opacity: 1 ; animation-timing-function: ease-out }
    20% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 10px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 10px }
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 15s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 15s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-size: 10px;
    padding: 0;
    line-height: 10px; 
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 0 }
    17% { opacity: 0 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.slider-div ::marker {
	display: none;
	content: "";
}

/* homeArea.js */
div.home-cards {
	margin: 0 5px;
}
.home-cards .ant-image-img,
.home-cards .ant-image-mask {
	border-radius: 5px;
}
h3.card-title > a {
	color: #707070 !important;
	font-weight: bold;
}

/* signup/index.js */
form#register {
	width: 80%;
	margin: 20px auto;
}
div.ant-modal-footer > button.ant-btn {
	display: none;
}
span.ant-modal-close-x {
	display: none;
}
.ant-modal-footer {
	display: none;
}
.term-btn {
	border: none !important;
	padding: 0 !important;
}
.term-btn > span {
	text-decoration: underline;
	color: #1890ff;
}

/* areaIntro.js */
div.intro-div {
	height: 60px;
	width: 100%;
	text-align: center;
	justify-content: center;
	background-color: #fff;
}
h1.intro-title {
	color: #707070;
	font-weight: semibold;
	font-size: 24px;
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0;
}

/* postList.js */
.ReactVirtualized__Grid__innerScrollContainer {
	height: auto !important;
	max-height: auto !important;
}

/* posts/1.js */
div.post-content {
	/* div.ant-card.ant-card-bordered:nth-child(2) {
		margin: 10px auto 10px auto;
	} */
}
.ant-card-meta-title {
	white-space: normal !important;
	overflow: visible !important;
}
.ant-list-split .ant-list-header {
	margin: 0 5px;
}

/* login/index.js */
.ant-form.ant-form-horizontal.login-form {
	width: 80%;
	margin: 20px auto;
}
.login-form-forgot {
	float: right;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
	width: 100%;
}

/* homeCard.js */
.home-card {
	width: 100%;
}
.ant-card-body {
	display: none;
}
.ant-image {
	display: block !important;
}

/* pageFooter.js */
div.footer-group {
	background: linear-gradient(-60deg, #33cc99, #2575f4);
}
div.footer-div {
	text-align: center;
}
.footer-logo {
	margin-bottom: 2%;
}
.footer-social {
	text-align: center;
	margin: 0 auto !important;
}
.social-link,
.social-link:hover {
	color: #fff;
}
@media (max-width: 700px) {
	div.footer-div {
		padding: 2% 1%;
	}
	.footer-logo {
		font-size: 40px;
	}
	.footer-social {
		width: 260px;
	}
	.footer-wechat {
		font-size: 25px;
		vertical-align: -0.75em;
	}
	.footer-red {
		font-size: 30px;
	}
	.footer-insta {
		font-size: 25px;
		color: #fff;
	}
	.footer-btm {
		font-size: 12px !important;
	}
}
@media (min-width: 700px) {
	div.footer-div {
		padding: 2%;
	}
	.footer-logo {
		font-size: 50px;
	}
	.footer-social {
		width: 400px;
	}
	.footer-wechat {
		font-size: 35px;
		vertical-align: -0.75em;
	}
	.footer-red {
		font-size: 40px;
	}
	.footer-insta {
		font-size: 35px;
		color: #fff;
	}
}
.footer-btm {
	margin: 0 0 0 1%;
	color: #fff;
}
.footer-btm a,
.footer-btm a:hover {
	color: #fff;
}
.footer-right {
	float: right;
	padding-right: 1rem;
}

/* posting/index.js */
.post-page {
	margin: 20px !important;
	height: calc(100vh - 100px);
}
div.post-btn {
	text-align: center;
	margin: 10px auto 20px auto !important;
}
.post-action {
	width: 45%;
	margin: 0 auto 20px auto !important;
	text-align: center;
}
.post-action > button {
	border-radius: 2px !important;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
	box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
	font-weight: 400 !important;
	white-space: nowrap;
	height: 32px;
	padding: 4px 15px !important;
	font-size: 14px !important;
}
.post-action:nth-child(1) > button {
	background-color: #1890ff !important;
	color: #fff;
	border: 1px solid #1890ff;
}
.post-action:nth-child(2) > button {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	color: rgba(0, 0, 0, .7);
}
.input-body {
	height: 40%;
	margin-bottom: 50px !important;
}
.input-body > textarea {
	height: 100% !important;
}
.ui,
.ui.form input[type=text],
.ui.form input[type=file],
.ui.form textarea,
.ui.button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif !important;
}
.ui.form .field .ui.pointing.above.prompt.label {
	border: none !important;
	color: #ff4d4f !important;
}
.ui.form .field.error .ui.dropdown,
.ui.form .field.error input[type=text],
.ui.form .field.error textarea {
	color: #ff4d4f !important;
	border-color: #ff4d4f !important;
	background-color: #fff !important;
}
.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
	display: none;
}
.image-upload {
	max-width: 100%;
}
.input-image {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
input#upload-img {
	display: none;
}
div.image-preview {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
	justify-content: flex-start;
	flex-direction: row;
}
div.image-each {
	display: flex;
	align-items: flex-start;
	margin: 0 5px 2px 0;
}
img.image-thumbnail {
	height: 80px;
	width: 80px;
	object-fit: cover;
	border: 1px solid #d9d9d9;
}
.hover-delete {
	/* position: absolute;
	left: 62px; */
	z-index: 99;
	color: #fff;
	font-size: 14px;
	padding: 1px 3px;
	background-color: rgba(255, 0, 0, 0.5);
}

/* database */
@media (min-width: 1000px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 60%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 70%;
	}
}
@media (min-width: 600px) and (max-width: 1000px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 80%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 80%;
	}
}
@media (max-width: 600px) {
	img.db-img {
		margin: 0 auto 1em auto;
		display: block;
		width: 100%;
	}
	.post-text {
		margin: 0 auto !important;
		width: 90%;
	}
}

/* about/index.js */
div.about-div {
	margin: 2% auto;
	padding: 0 10%;
}
h1.about-title {
	margin: 0 auto;
}
div.about-first {
	text-align: center;
}
@media (min-width: 700px) {
	p.about-text {
		margin: 1% auto;
		display: block;
		width: 600px;
	}
}
@media (max-width: 700px) {
	p.about-text {
		margin: 1% auto;
		display: block;
		width: 320px;
	}
}
